@model IEnumerable<BibliotheekApp.Models.Auteur>

@{
    ViewData["Title"] = "Auteurslijst";
}

<h2>Auteurslijst</h2>

<a href="@Url.Action("Create", "Auteur")" class="btn btn-primary">Voeg Auteur Toe</a>

<table class="table">
    <thead>
        <tr>
            <th>Auteur ID</th>
            <th>Naam</th>
            <th>Geboorte Datum</th>
            <th>Acties</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var auteur in Model)
        {
            <tr>
                <td>@auteur.AuteurID</td>
                <td>@auteur.Naam</td>
                <td>@auteur.GeboorteDatum.ToString("dd-MM-yyyy")</td>
                <td>
                    <a href="@Url.Action("Edit", "Auteur", new { id = auteur.AuteurID })" class="btn btn-warning">Bewerken</a>
                    <form action="@Url.Action("DeleteConfirmed", "Auteur", new { id = auteur.AuteurID })" method="post" style="display:inline;">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger">Verwijderen</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

