@{
    ViewData["Title"] = "Home";
}

<h2>Welkom bij de Bibliotheek!</h2>

<div>
    <a href="@Url.Action("BoekenLijst", "Home")" class="btn btn-primary">Bekijk Boeken</a>
    <a href="@Url.Action("AuteursLijst", "Home")" class="btn btn-primary">Bekijk Auteurs</a>
    <a href="@Url.Action("LedenLijst", "Home")" class="btn btn-primary">Bekijk Leden</a>
    <a href="@Url.Action("VoegBoekToe", "Home")" class="btn btn-secondary">Voeg Boek Toe</a>
    <a href="@Url.Action("VoegAuteurToe", "Home")" class="btn btn-secondary">Voeg Auteur Toe</a>
</div>
